# From test requirements
-e git+http://git.participatoryculture.org/djpagetabs@0d5ec5a1a318830380728e04d2160bc35db8469a#egg=djpagetabs
-e git+http://git.participatoryculture.org/django-email-share/@master#egg=django_email_share
-e git+git://github.com/pculture/django-uploadtemplate.git@1125f15dc39e218f3fda47a97a9322077bf305d7#egg=django-uploadtemplate
-e git+git://github.com/pculture/djvideo.git@4b88c371e11b56808f370e7734e0eddebe79ae39#egg=djvideo
-e git+git://github.com/pythonforfacebook/facebook-sdk.git@master#egg=facebook_python_sdk
-e git+git://github.com/toastdriven/django-haystack.git@6065c8525bea4b9a116c7fa279b9e3e26ac7362f#egg=django-haystack
-e git+git://github.com/melinath/django-daguerre.git@1ea8fd31a5eb178a2c265c99ae76e7fb65fef2aa#egg=django-daguerre

# deployment-specific
-e git+git://github.com/pculture/mirocommunity.git@1d2f6dea197f1f46d4c2f2a528f7e460d0f48432#egg=mirocommunity
-e git+git://github.com/pculture/mirocommunity.org.git@7020e9e2c0dbbc1fa22a0acffcb257dd555715f2#egg=mirocommunity.org
-e git+git://github.com/pculture/vidscraper.git@a3d1e3a36c32b7edc623e1cf8cdbdc58247b573a#egg=vidscraper

# backwards-compatibility
# Need this one because we haven't yet ported old social auth links.
-e git+git://github.com/agiliq/Django-Socialauth.git@a5e67941e12e0508aaeb6a475d049c5c5782cf78#egg=Django-Socialauth
# Need this one because some sites with custom templates still use recaptcha on their comment forms.
-e svn+http://recaptcha.googlecode.com/svn/trunk/recaptcha-plugins/python@124#egg=recaptcha_client-dev_r124

# From test requirements
django-registration==0.8
beautifulsoup4==4.0.4
Django==1.4.3
Pillow==1.7.8
lxml==2.3.5
feedparser==5.1.3
django-tagging==0.3.1
django-celery==3.0.11
pytz==2012j
celery==3.0.15
billiard==2.7.3.32
kombu==2.4.7
amqplib==1.0.2
amqp==1.0.13
anyjson==0.3.3
python-dateutil==1.5
django-picklefield==0.1.9
simplejson==2.3.2
# Not sure these are required any more.
oauth==1.0.1
oauth2==1.5.211
mock==0.8.0
django-notification==0.1.5
whoosh==2.4.1
httplib2==0.7.7
requests==0.14.2
requests-oauth==0.4.1
django-tastypie==0.9.11
django_compressor==1.1.2
django-appconf==0.5
django-mptt==0.5.2
Markdown==2.1.1
django-social-auth==0.7.9
python-openid==2.2.4
django-nose==1.1
nose==1.2.1
blessings==1.5
nose-progressive==1.3
nose-exclude==0.1.9
certifi==0.0.8
chardet==1.0.1
BeautifulSoup==3.2.0
mimeparse==0.1.3
unicode-slugify==0.1

# deployment-specific
flup==1.0.3.dev-20110405
python-memcached==1.45
mysql-python==1.2.4
pyelasticsearch==0.2
django-storages==1.1.6
boto==2.8.0
gunicorn==0.18.0
eventlet==0.14.0
greenlet==0.4.1
